.navbar-brand
{
font-size: 36px;
}

.container
{
  background-color: rgb(243, 246, 248);
  width: 98%;
}

#card-body
{
  font-weight: bold;
}


body
{
  background-image: url('https://i.imgur.com/54amLz5.gif');
  opacity: 80%;
  background-size: cover;
}   